.menu_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 65px;
    padding: 0 18px;
}
.menu_list-item{
    padding: 10px 0;
}
.item-label.visible{
    visibility: visible;
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #262626;
    transition: all 1s ease-in-out;
    opacity: 1;
}
.item-label{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}
