.title_change-password{
    margin-bottom: 32px;
    font-size: 24px;
}
.ant-modal-content{
    padding-top: 0px;
}
.changeButton{
    display: none;
}
.saveBtn{
    margin-top: 65px;
}
@media (max-width:360px){
    .title_change-password{
        padding: 0 10px;
    }
    .ant-form-item{
        margin-bottom: 20px;
    }
}