.review_container{
    padding: 16px;
    background-color: #fff;
    max-width: 100%;
    border-radius: 2px;
    min-height: 128px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}
.review_box{
    display: flex;
    gap: 12px;
}
.review_profileInfo{
    max-width: 174px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.avatar_box{
    width: 42px;
    height: 42px;
    background-color:  #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review_profileName{
    padding: 0 30px;
        text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #262626;
}
.review_descriptionInfo{
    display: flex;
    align-items: center;
}
.review_date{
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color:  #bfbfbf;
}
.review_text{
    padding-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #8c8c8c;
    word-break: break-word;
}

@media screen and (max-width:380px){
    .review_container{
        min-height: auto;
    }
    .review_box{
        flex-direction: column;
    }
    .review_profileInfo{
        flex-direction: row;
    }

}